<div class="row ad-banners">  
  <div class="col-sm-4">
    <div class="banner">
      <a href="{{ settings.ad_banner_1_link }}"><img src="{{ 'banner-1.jpg' | asset_url }}" alt="{{ settings.ad_banner_1_small_text }} {{ settings.ad_banner_1_large_text }}" class="img-responsive" /></a>
      <div class="banner-overlay">{{ settings.ad_banner_1_small_text }}<br><span class="banner-lg">{{ settings.ad_banner_1_large_text }}</span></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="banner">
      <a href="{{ settings.ad_banner_2_link }}"><img src="{{ 'banner-2.jpg' | asset_url }}" alt="{{ settings.ad_banner_2_small_text }} {{ settings.ad_banner_2_large_text }}" class="img-responsive" /></a>
      <div class="banner-overlay">{{ settings.ad_banner_2_small_text }}<br><span class="banner-lg">{{ settings.ad_banner_2_large_text }}</span></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="banner">
      <a href="{{ settings.ad_banner_3_link }}"><img src="{{ 'banner-3.jpg' | asset_url }}" alt="{{ settings.ad_banner_3_small_text }} {{ settings.ad_banner_3_large_text }}" class="img-responsive" /></a>
      <div class="banner-overlay">{{ settings.ad_banner_3_small_text }}<br><span class="banner-lg">{{ settings.ad_banner_3_large_text }}</span></div>
    </div>
  </div>
</div>
<div class="gap-10"></div>