{% layout settings.customer_layout %}

<section id="content">
  <div class="container">
    {% include 'breadcrumb' %}
    <div class="row">
      <div class="col-sm-6">
        <h1>Tài khoản của tôi</h1>
      </div>
      <div class="col-sm-6 text-right">
        <p><a href="#" class="btn btn-primary btn-lg" onclick="Haravan.CustomerAddress.toggleNewForm(); return false;">Thêm địa chỉ mới</a></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <p class="large--text-right"><a href="/account">Xem chi tiết tài khoản</a></p>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <div id="add_address" style="display: none;">
        {% form 'customer_address', customer.new_address %}

          <h2>Thêm địa chỉ mới</h2>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="address_last_name_new">Họ</label>
              <input type="text" id="address_last_name_new" class="address_form form-control" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="address_first_name_new">Tên</label>
                <input type="text" id="address_first_name_new" class="address_form form-control" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="address_company_new">Công ty</label>
                <input type="text" id="address_company_new" class="address_form form-control" name="address[company]" value="{{form.company}}" autocapitalize="words">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="address_address1_new">Địa chỉ 1</label>
                <input type="text" id="address_address1_new" class="address_form form-control" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="address_address2_new">Địa chỉ 2</label>
                <input type="text" id="address_address2_new" class="address_form form-control" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="address_city_new">Quận/Huyện</label>
                <input type="text" id="address_city_new" class="address_form form-control" name="address[city]" value="{{form.city}}" autocapitalize="words">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="address_country_new">Quốc gia</label>
                <select id="address_country_new" name="address[country]" data-default="{{form.country}}" class="form-control">{{ country_option_tags }}</select>
              </div>
            </div>
          </div>
          <div class="row" id="address_province_container_new" style="display:none">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="address_province_new">Tỉnh/TP</label>
                <select id="address_province_new" class="address_form form-control" name="address[province]" data-default="{{form.province}}"></select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="address_phone_new">Điện thoại</label>
                <input type="tel" id="address_phone_new" class="address_form form-control" name="address[phone]" value="{{form.phone}}" placeholder="555-555-1234">
              </div>
            </div>
          </div>

          <p>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new" class="form-inline">Đặt làm địa chỉ mặc định?</label>
          </p>

          <input type="submit" class="btn btn-primary btn-lg" value="Thêm mới">
           hoặc
          <a href="#" onclick="Haravan.CustomerAddress.toggleNewForm(); return false;">Hủy</a>

        {% endform %}
        <hr>
        </div>
        
        <h2>Danh sách địa chỉ</h2>

        {% paginate customer.addresses by 5 %}
        
        {% for address in customer.addresses %}

          <h3>
            {{address.last_name | capitalize }} {{ address.first_name | capitalize }} 
            {% if address == customer.default_address %}<em>(default)</em>{% endif %}
          </h3>

            {% if address.company != blank %}
            <p>{{ address.company }} </p>
            {% endif %}
            <p> {{ address.street }} </p>
            <p>{{ address.city | capitalize }} </p>
            {% if address.province_code %}
              <p>{{ address.province_code | upcase }} </p>
            {% endif %}
            <p>{{ address.province }} </p>
			<p> {{ address.country }} </p>
			<p> {{ address.phone }} </p>
          <p>
            {{ "Edit" | edit_customer_address_link: address.id }} |
            {{ "Delete" | delete_customer_address_link: address.id }}
          </p>
          
          <div id="edit_address_{{address.id}}" style="display:none;">
          {% form 'customer_address', address %}
            <h4>Chỉnh sửa địa chỉ</h4>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="address_last_name_{{form.id}}">Họ</label>
                  <input type="text" id="address_last_name_{{form.id}}" class="address_form form-control" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="address_first_name_{{form.id}}">Tên</label>
                  <input type="text" id="address_first_name_{{form.id}}" class="address_form form-control" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="address_company_{{form.id}}">Công ty</label>
                  <input type="text" id="address_company_{{form.id}}" class="address_form form-control" name="address[company]" value="{{form.company}}" autocapitalize="words">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="address_address1_{{form.id}}">Địa chỉ 1</label>
                  <input type="text" id="address_address1_{{form.id}}" class="address_form form-control" name="address[address1]" value="{{form.address1}}" autocapitalize="words">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="address_address2_{{form.id}}">Địa chỉ 2</label>
                  <input type="text" id="address_address2_{{form.id}}" class="address_form form-control" name="address[address2]" value="{{form.address2}}" autocapitalize="words">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="address_city_{{form.id}}">Quận/Huyện</label>
                  <input type="text" id="address_city_{{form.id}}" class="address_form form-control" name="address[city]" value="{{form.city}}" autocapitalize="words">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="address_country_{{form.id}}">Quốc gia</label>
                  <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}" class="form-control">{{ country_option_tags }}</select>
                </div>
              </div>
            </div>
            <div id="address_province_container_{{form.id}}" style="display:none" class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="address_province_{{form.id}}">Tỉnh/TP</label>
                  <select id="address_province_{{form.id}}" class="address_form form-control" name="address[province]" data-default="{{form.province}}"></select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="address_phone_{{form.id}}">Điện thoại</label>
                  <input type="tel" id="address_phone_{{form.id}}" class="address_form form-control" name="address[phone]" value="{{form.phone}}" placeholder="555-555-1234">
                </div>
              </div>
            </div>

            <p>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_new" class="inline">Đặt làm địa chỉ mặc định?</label>
            </p>

            <input type="submit" class="btn btn-primary btn-lg" value="Chỉnh sửa địa chỉ">
            hoặc <a href="#" onclick="Haravan.CustomerAddress.toggleForm({{form.id}}); return false;">Hủy</a>

          {% endform %}
        </div>

        <hr>

      {% endfor %}

      {% if paginate.pages > 1 %}
      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
      {% endif %}

      {% endpaginate %}

      </div>
    </div>
  </div>
</section>

<script>
  // Initialize observers on address selectors
  new Haravan.CountryProvinceSelector('address_country_new', 'address_province_new', {
    hideElement: 'address_province_container_new'
  });

  // Setup province selector on each customer address
  {% for address in customer.addresses %}
    new Haravan.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {
      hideElement: 'address_province_container_{{address.id}}'}
    );
  {% endfor %}

  // Contents of customer_area.js (global asset)
  Haravan.CustomerAddress = {
    toggleForm: function(id) {
      var editEl = document.getElementById('edit_address_'+id);
      var viewEl = document.getElementById('view_address_'+id);
      editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
      viewEl.style.display = viewEl.style.display == 'none' ? '' : 'none';
      return false;
    },

    toggleNewForm: function() {
      var el = document.getElementById('add_address');
      el.style.display = el.style.display == 'none' ? '' : 'none';
      return false;
    },

    destroy: function(id, confirm_msg) {
      if (confirm(confirm_msg || "Bạn có chắc chắn muốn xóa địa chỉ?")) {
        Haravan.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
      }
    }
  }
</script>